// Parameters
params {
    
    // Size ranges for scan
    size_ranges = [
        [min: 40000, max: null,  name: "40k_Plus"],
        [min: 50000, max: null,  name: "50k_Plus"]
    ]

    // Downsampling parameters
    downsample_rates = [0.4, 0.6]

    // Bootstrap parameters
    replicates = 2        // Number of bootstrap replicates
    // fraction = 0.75       // Fraction of reads per replicate

    // Quality filtering
    min_quality = 10      // Minimum read quality score

    // Assembly parameters
    genome_size = "10m"   // Estimated genome size for Flye

    // Reference directories
    genomeDir = "/net/bmc-lab3/data/bcc/charliew/ont_flye_v3/genome"      // Directory containing reference genome FASTA files
    transgeneDir = "/net/bmc-lab3/data/bcc/charliew/ont_flye_v3/transgenes"   // Directory containing transgene FASTA files
}