// Parameters
params {
    size_ranges = [
        [min: 5000, max: null,  name: "5k_Plus"],
        [min: 10000, max: null,  name: "10k_Plus"],
        [min: 20000, max: null,  name: "20k_Plus"],
        [min: 30000, max: null,  name: "30k_Plus"],
        [min: 40000, max: null,  name: "40k_Plus"],
        [min: 50000, max: null,  name: "50k_Plus"]
    ]
}
