// Parameters
params {

    // Bootstrap parameters
    replicates = 1        // Number of bootstrap replicates
    // fraction = 0.75       // Fraction of reads per replicate

    // Quality filtering
    min_quality = 10      // Minimum read quality score

    // Assembly parameters
    genome_size = "10m"   // Estimated genome size for Flye

    // Reference directories
    genomeDir = "/net/bmc-lab3/data/bcc/projects/cmelen-Love/ont_flye_workflow_runs/genome"      // Directory containing reference genome FASTA files
    transgeneDir = "/net/bmc-lab3/data/bcc/projects/cmelen-Love/ont_flye_workflow_runs/transgenes"   // Directory containing transgene FASTA files
    transgene_library = "/net/bmc-lab3/data/bcc/projects/cmelen-Love/ont_flye_workflow_runs/transgenes/transgene_library.csv" 
}